Source: logitechmediaserver
Section: sound
Priority: optional
Maintainer: Carl Fürstenberg <carl@excito.com>
Build-Depends: debhelper (>= 7.2), html2text
Standards-Version: 3.9.1

Package: logitechmediaserver
Architecture: armel i386 amd64 powerpc sparc
Conflicts: slimp3, slimserver, squeezecenter, squeezeboxserver
Replaces: slimp3, slimserver, squeezecenter, squeezeboxserver
Depends: ${shlibs:Depends}, ${perl:Depends}, ${misc:Depends}, lsb-base (>= 3.2-14),
 ttf-dejavu | ttf-bitstream-vera,
 ttf-freefont,
 adduser
Description: Streaming Audio Server
 SlimServer is a cross-platform streaming server that supports a wide range
 of formats, including AAC, AIFF, FLAC, Ogg Vorbis, MP3, WAV, and
 WMA.
