Source: squeezecenter
Section: sound
Priority: optional
Maintainer: Carl Fürstenberg <carl@excito.com>
Build-Depends: debhelper (>= 7.2), html2text
Standards-Version: 3.9.1

Package: squeezecenter
Architecture: all
Conflicts: slimp3, slimserver, squeezecenter-softsqueeze, squeezecenter-skins
Replaces: slimp3, slimserver, squeezecenter-softsqueeze, squeezecenter-skins
Depends: ${perl:Depends}, ${misc:Depends}, lsb-base (>= 3.2-14),
 dbconfig-common,
 ttf-dejavu | ttf-bitstream-vera,
 ttf-freefont,
 mysql-server-5.0,
 flac, 
 sox, 
 adduser,
 wavpack,
 musepack-tools,
 libanyevent-perl (>= 5.202),
 libaudio-scan-perl (>= 0.82),
 libcache-cache-perl (>= 1.04),
 libcgi-pm-perl (>= 3.40),
 libclass-data-inheritable-perl (>= 0.04),
 libclass-inspector-perl (>= 1.16),
 libfile-copy-recursive-perl (>= 0.29),
 libdata-dump-perl,
 libdata-uriencode-perl (>= 0.11),
 libdbd-mysql-perl (>= 3.0002),
 libdbi-perl (>= 1.608),
 libdbix-class-perl (>= 0.08109),
 libev-perl (>= 3.8),
 libencode-detect-perl,
 libfile-bom-perl (>= 0.13),
 libfile-next-perl (>= 1.02),
 libfile-readbackwards-perl (>= 1.02),
 libfile-slurp-perl,
 libfile-which-perl (>= 0.05),
 libgd-gd2-perl (>= 1:2.41),
 libhtml-parser-perl (>= 3.60),
 libio-string-perl (>= 1.07),
 libjson-xs-perl (>= 2.232),
 libjson-xs-versiononeandtwo-perl (>= 0.31),
 liblog-log4perl-perl (>= 1.23),
 libmath-vecstat-perl (>= 0.08),
 libpar-perl (>= 0.970),
 libpoe-perl (>= 0.35),
 libpath-class-perl (>= 0.16),
 libproc-background-perl (>= 1.08),
 libsql-abstract-perl (>= 1.56),
 libsub-name-perl (>= 0.04),
 libtext-unidecode-perl (>= 0.04),
 libtimedate-perl (>= 1.1600),
 libtie-cache-lru-perl (>= 0.21),
 libtie-cache-lru-expires-perl,
 libtie-llhash-perl (>= 1.003),
 libtie-regexphash-perl (>= 0.13),
 liburi-perl (>= 1.35),
 liburi-find-perl (>= 0.16),
 libuuid-tiny-perl (>= 1.02),
 libwww-perl (>= 5.805),
 libxml-parser-perl (>= 2.36),
 libxml-simple-perl (>= 2.15),
 libyaml-syck-perl (>= 1.05),
 libclass-xsaccessor-perl (>= 1.03),
 libclass-xsaccessor-array-perl (>= 1.04),
 libpoe-xs-queue-array-perl (>= 0.005),
 libtie-ixhash-perl,
 libexporter-lite-perl,
 libtemplate-perl,
 libtemplate-plugin-class-perl,
 libnet-dns-perl
Description: Streaming Audio Server
 SlimServer is a cross-platform streaming server that supports a wide range
 of formats, including AAC, AIFF, FLAC, Ogg Vorbis, MP3, WAV, and
 WMA.
