#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
ARCH=$(shell dpkg-architecture -qDEB_HOST_ARCH)

package=logitechmediaserver
target=debian/$(package)
datadir=${target}/usr/share/squeezeboxserver
vardir=${target}/var/lib/squeezeboxserver

%:
	dh  $@

override_dh_install:
	install -m0755 slimserver.pl ${target}/usr/sbin/squeezeboxserver
	install -m0755 scanner.pl ${target}/usr/sbin/squeezeboxserver-scanner
	install -m0755 cleanup.pl ${target}/usr/sbin/squeezeboxserver-scanner
	install -m0755 debian/squeezeboxserver_safe ${target}/usr/sbin/squeezeboxserver_safe
	#
	# fix changelogs
	mkdir debian/tmp
	for i in Changelog?.html; do html2text -style pretty $$i; done > debian/tmp/changelog
	dh_install
	# Remove errmsg.sys files from the MySQL dir, since they may not match
	# up with the installed version's
	rm -f ${target}/usr/share/${package}/MySQL/errmsg.*
	# Fix some executable flags which shouldn't be there
	find ${target} -regex '.*\.\(png\|gif\|html\)' | xargs chmod -x
	# remove loose license files
	rm -f ${datadir}/HTML/EN/html/ext/license.txt
	rm -f ${datadir}/HTML/EN/html/ext/resources/license.txt
	rm -f ${datadir}/MySQL/COPYING
	# remove non-target architecture and non linux files
	rm -rf ${datadir}/CPAN/arch/*/darwin*
	rm -rf ${datadir}/Bin/darwin*
	rm -rf ${datadir}/CPAN/arch/*/i386-freebsd*
	rm -rf ${datadir}/Bin/i386-freebsd*
	rm -rf ${datadir}/CPAN/arch/*/MSWin32*
	rm -rf ${datadir}/Bin/MSWin32*
ifneq ($(ARCH),armel)
	rm -rf ${datadir}/CPAN/arch/*/arm-linux*
	rm -rf ${datadir}/Bin/arm-linux*
endif
ifneq ($(ARCH),i386)
	rm -rf ${datadir}/CPAN/arch/*/i386-linux*
	rm -rf ${datadir}/Bin/i386-linux*
endif
ifneq ($(ARCH),amd64)
	rm -rf ${datadir}/CPAN/arch/*/x86_64-linux*
	rm -rf ${datadir}/Bin/x86_64-linux*
endif
ifneq ($(ARCH),powerpc)
	rm -rf ${datadir}/CPAN/arch/*/powerpc-linux*
	rm -rf ${datadir}/Bin/powerpc-linux*
endif
ifneq ($(ARCH),sparc)
	rm -rf ${datadir}/CPAN/arch/*/sparc-linux
	rm -rf ${datadir}/Bin/sparc-linux
endif


override_dh_installinit:
	dh_installinit --noscripts
